@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

h1{
    font-family: 'Love Light', cursive;
}

body{
    
    display:flex;
    flex-direction: columns;
    height:100vh;
    align-content: center;
    
    justify-content: center;
    
    align-items: center;  
}



.set{
    display:flex;
    position:relative;
    margin-bottom: 20px;
    justify-content: space-around;
    width:75vw;
}
.box{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
#prev{
    margin:10px;
    
}
.progress{
    position:absolute;
    height:4px;
    background-color: burlywood;
    width:50vw;
    margin:0;
    
}
.circle{
    
}